@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');

/* ---------- GLOBAL STYLES ---------- */
body {
    font-family: 'Barlow', sans-serif;
    color: #5a5a5a;
    background-color: #141a20;
}

.bg-darker {
    background-color: #141a20!important;
}

.opaque {
    opacity: 1;
}

.almost-opaque {
    opacity: 0.9;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 30px;
    padding-left: 30px;
    margin: auto;
}

/* HOME ---------------------------------------------------- */
#homeMain {
    min-height: calc(100vh - 56px);
    background-size: cover;
    background: url("../images/Beta Key Art_VALORANT.jpg") no-repeat fixed center;
}

/* SIGN IN ---------------------------------------------------- */
.signin-main {
    min-height: calc(100vh - 56px);
    background-size: cover;
    background: url("../images/VALORANT_Logo_V.jpg") no-repeat fixed center;
}

/* ROSTER ---------------------------------------------------- */
.roster-main {
    height: 100vh;
    background-size: cover;
    background: url("https://i.redd.it/uky9yi20i9m41.jpg") no-repeat fixed center;
}

/* TOURNAMENT ----------------------------------------------- */
.tournament-main {
    height: 100vh;
    background: url("https://img.menzig.tech/a/1000/1565-h1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* CONTACT ----------------------------------------------- */
.contact-main {
    min-height: calc(100vh - 56px);
    background-size: cover;
    background: url("../images/VALORANT_JETT_Duotoned.jpg") no-repeat fixed center;
}
